@import "components/style";

.container {
  background-color: $COLOR_4;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: calc(100vh - 40px);
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    z-index: 1;

    .chat {
      display: flex;
      flex-direction: row;
      height: 100%;

      .conversation {
        flex-grow: 1;
        position: relative;
      }
    }
  }
}
