.messagesList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: scroll;
  padding: 1em;
  gap: 1em;

  .message {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1em;
    background-color: #ccc;
    width: fit-content;
    overflow: hidden;
    border-radius: 10px;

    .info {
      display: flex;
      flex-direction: row;

      button {
        width: 20px;
        height: 20px;
      }
    }
  }
}
