@import "components/style";

.usersList {
  padding: 1em 0;
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: #555;

  .user {
    padding: 1em;
    border-bottom: 1px solid white;

    a {
      text-decoration: none;
      p {
        text-align: center;
        height: 100%;
        color: grey;
      }
    }

    .online {
      color: white;
    }

    &:hover {
      background-color: $COLOR_3;
    }

    &:hover p {
      color: white;
    }
  }

  .selected {
    background-color: $COLOR_2;
  }
}
