@import "6_shared/colors";

.container {
  background-color: $COLOR_4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginFormWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 24px 28px;
    border-radius: 10px;

    .logo {
      color: $COLOR_2;
      font-weight: bold;
      font-size: 1.5em;
    }

    .title {
      color: $COLOR_3;
      font-size: 1em;
    }

    form {
      display: flex;
      gap: 24px;
      flex-direction: column;

      input {
        padding: 16px;
        width: 250px;
        border: none;
        border-bottom: 1px solid $COLOR_4;

        &::placeholder {
          color: gray;
        }
      }

      button {
        padding: 16px;
        background-color: $COLOR_3;
        color: white;
        border: none;
        font-size: 1em;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        color: $COLOR_2;
        gap: 16px;
        font-size: 0.75em;
        cursor: pointer;

        img {
          height: 32px;
        }
      }
    }

    p {
      color: $COLOR_2;
      font-size: 0.75em;
      margin-top: 10px;

      .link {
        padding: 10px;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
